@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a class="btn btn-sm btn-primary" asp-controller="home" asp-action="login">Facebook Login</a>
</div>
